body { 
  font-family: 'Simonetta', cursive;
  font-size: 2em;
  font-weight: 500;
}



h1 {
    font-family: 'Amarante', cursive;
    font-size: 50px;
}

h2,h3,h4,h5 {
    font-family: 'Amarante', cursive;
}

.opaque {
     background-color: rgba(255, 255, 255, 0.8); 
    padding-bottom: 50px;
}

.page-background{
  background-image: url('/static/img/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -100;

}


#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}


.campaign-list h2 {
    font-size: 40;
    

}

.campaign-list h3 {
    font-size: 40;
}


/* unvisited link */
a:link, a:visited, a:active {
    color: #023E5B;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #052737;
    text-decoration: none;

}

