{% extends "base_campaign.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block menu-gamereport %}active{% endblock %}



{% block extra_head %}
<link rel="stylesheet" href="{% static 'style/sidebar.css' %}" >
<link rel="stylesheet" href="{% static 'style/bootstrap-markdown.min.css' %}" >
{% endblock %}

{% block campaign %}
    <h2>Reporte da Sessão de {{ session.get_date_short }}</h2>

    <form method="POST" action="">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success btn-lg" name="action">Salvar</button>
    </form>
{% endblock %}


{% block scripts %}
<script src="{% static 'js/bootstrap-markdown.js' %}"></script>
<script src="{% static 'js/marked.js' %}"></script>
{% endblock %}
