{% extends "base_campaign.html" %}
{% load markdownify %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block menu-forum %}active{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'style/sidebar.css' %}" >
<link rel="stylesheet" href="{% static 'style/bootstrap-markdown.min.css' %}" >
{% endblock %}


{% block campaign %}
<style>

hr.styled { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}


 </style>   


<h2>{{ topic.get_title }}</h2>


{% for message in topic.topicmessage_set.all %}
<div class="row">
<div class="col-xs-12 col-md-3 author text-center">
  <div class="well">
        <img src="{{ message.author.profile.get_profile_pic }}" height="70" width="70" class="img-circle"> 
        <br> 
        <a href="{% url 'view_profile' message.author.username %}">{{ message.author.profile.display_name }}</a>
        <br>
        <small>{{ message.published_date | date:"d\/m\/Y"}}</small>
        <br>
        <small>{{ message.published_date |time:"TIME_FORMAT"}}</small>
        {% if message.edited %}<br><small>Editado</small>{%endif%}
        
  </div>
</div>
<div class="col-xs-12 col-md-9 message">
{{ message.text | markdown | safe }}
<br>
{% if request.user == message.author or permission == 1%} <a href="{% url 'edit_message' campaign.slug topic.id message.id %}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a> {% endif %}
</div> <!-- message -->

</div> <!-- row -->
<hr class="styled">
{% endfor %}


<form method="POST" action="">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success btn-lg" name="action">Criar Tópico</button>
</form>


{% endblock %}


{% block scripts %}
<script src="{% static 'js/bootstrap-markdown.js' %}"></script>
<script src="{% static 'js/marked.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".message img").addClass("img-responsive");
});
</script>
{% endblock %}