{% extends "base.html" %}
{% load staticfiles %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'style/sidebar.css' %}" >
{% endblock %}      

{% block specific_menu %}
<!--
            <li class="dropdown hidden-lg hidden-md">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu Geral<span class="caret"></span></a>
              <ul class="dropdown-menu">
                
                <li><a href="#"><img src="{% static 'icons/minions.svg' %}" height="24" width="24"> Jogadores</a></li>
                <li><a href="#">Personagens</a></li>
                <li><a href="#">NPCs</a></li>
                <li><a href="#">Missões</a></li>
                <li><a href="#">Citações</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Marcar Nova Sessão</a></li>
                <li><a href="#">Remarcar Sessão</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Diário de Sessões</a></li>
                <li><a href="#">Histórico</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">House Rules</a></li>
                <li><a href="#">Utilidades</a></li>
              </ul>
            </li>
-->            
{% endblock %}      


{% block content %}
        <div class="row">
        <div class="col-md-12"><h1>{{ campaign.name }}</h1></div>
        </div>

      <div class="row">
        <div class="col-sm-3 col-xs-12 sidemenu">

<ul>
  <li><a class="{% block menu-home %}{% endblock %}" href="{% url 'view_campaign' campaign.slug%}"><img src="{% static 'icons/house.svg' %}" height="24" width="24"> Início</a></li>
  <li><a class="{% block menu-players %}{% endblock %}" href="{% url 'players' campaign.slug%}"><img src="{% static 'icons/minions.svg' %}" height="24" width="24"> Jogadores</a></li>
  <li><a class="{% block menu-sessoes %}{% endblock %}" href="{% url 'view_sessions' campaign.slug %}"><img src="{% static 'icons/calendar.svg' %}" height="24" width="24"> Sessões</a></li>
  {% if permission == 1 %}
  <li><a class="{% block menu-nova-sessao %}{% endblock %}" href="{% url 'new_session' campaign.slug %}"><img src="{% static 'icons/read.svg' %}" height="24" width="24"> Marcar Nova Sessão</a></li>
  {% endif %}

   <!--
    <li><a href="#"><img src="{% static 'icons/brutal-helm.svg' %}" height="24" width="24"> Personagens</a></li>
    <li><a href="#"><img src="{% static 'icons/farmer.svg' %}" height="24" width="24"> NPCs</a></li>
    <li><a href="#"><img src="{% static 'icons/treasure-map.svg' %}" height="24" width="24"> Missões</a></li>
    <li><a href="#"><img src="{% static 'icons/stabbed-note.svg' %}" height="24" width="24"> Citações</a></li>
    <li><a href="#"><img src="{% static 'icons/dice-twenty-faces-twenty.svg' %}" height="24" width="24"> House Rules</a></li>
    <li><a href="#"><img src="{% static 'icons/drink-me.svg' %}" height="24" width="24"> Utilidades</a></li>
    <li><a href="#"><img src="{% static 'icons/dig-dug.svg' %}" height="24" width="24"> Opções</a></li>
    -->
</ul>
        </div>
        <div class="col-sm-9 col-xs-12">
        {% block campaign %}
        {% endblock %}


        </div>
      </div>
{% endblock %}