{% extends "base.html" %}
{% block specific_menu %}
            <li class="dropdown hidden-lg hidden-md">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu Geral<span class="caret"></span></a>
              <ul class="dropdown-menu">
                
                <li><a href="#">Jogadores</a></li>
                <li><a href="#">Personagens</a></li>
                <li><a href="#">NPCs</a></li>
                <li><a href="#">Missões</a></li>
                <li><a href="#">Citações</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Marcar Nova Sessão</a></li>
                <li><a href="#">Remarcar Sessão</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Diário de Sessões</a></li>
                <li><a href="#">Histórico</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">House Rules</a></li>
                <li><a href="#">Utilidades</a></li>
              </ul>
            </li>
{% endblock %}      