<!DOCTYPE HTML>
{% load staticfiles %}
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>RPGCamp</title>
</head>

<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Roboto" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >

<link rel="stylesheet" href="{% static 'style/main.css' %}" >

{% block extra_head %}
{% endblock %}

<body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">RPGCamp</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">





            {% if request.user.is_authenticated %}
            <li class="active"><a href="#">Início</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Campanhas <span class="caret"></span></a>
              <ul class="dropdown-menu">
              {% if campaign_list %}
              {% for campaign in campaign_list %}

                <li><a href="{% url 'view_campaign' campaign.campaign.slug %}">{{ campaign.campaign.name }}</a></li>
                
              {% endfor %}
              <li role="separator" class="divider"></li>
              {% endif %}
                <li><a href="{% url 'create_campaign' %}">Nova Campanha</a></li>

              </ul>
            </li>



            {% block specific_menu %}
            {% endblock %}


            {% endif %}
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li> <p class="navbar-btn">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'self_profile' %}" class="btn btn-link"><span class="glyphicon glyphicon-user"></span></a>
                    <a href="{% url 'logout'%}" class="btn btn-link"><span class="glyphicon glyphicon-log-out"> </span> </a>
                    
                {% else %}
        <li class="dropdown"> <!-- login menu -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="glyphicon glyphicon-log-in"></span>  <b> Entrar</b> </a>
			<ul id="login-dp" class="dropdown-menu">
				<li>
					 <div class="row">
							<div class="col-md-12">
                
								 <form class="form" role="form" method="post" action="/login/" accept-charset="UTF-8" id="login-nav">
										{% csrf_token %}
                    <div class="form-group">
                      <label for="id_username" class="control-label  requiredField">Usuário</label> 
                      <div class="controls "> 
                        <input type="text" name="username" required id="id_username" autofocus maxlength="254" class="textinput textInput form-control" /> </div>										
                    </div>
										<div class="form-group">
                      <label for="id_password" class="control-label  requiredField"> Senha</label> 
                      <div class="controls "> 
                        <input type="password" name="password" id="id_password" required class="textinput textInput form-control" /> 
                      </div>										
                    </div>
										<div class="form-group">
											 <button type="submit" class="btn btn-primary btn-block">Fazer Login</button>
										</div>
								 </form>
							</div>
							<div class="bottom text-center">
								Novo arqui ? <a href="{% url 'add_user' %}"><b>Crie Sua Conta</b></a>
							</div>
					 </div>
				</li>
			</ul>
        </li>  <!-- end login menu -->                {% endif %}
                </p>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div class="page-background"></div>
    <div class="container opaque">
    
            {% block content %}
            {% endblock %}
      

    </div> <!-- /container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>