{% extends "base_campaign.html" %}

{% block menu-home %}active{% endblock %}

{% load staticfiles %}
{% block campaign %}

          <div class="col-md-9 col-sm-12">
            <h2>Próxima Sessão</h2>
            <p>Nesta parte ficará descrita quando vai ser a próxima sessão, quanto tempo falta, e quais jogadores confirmaram.</p>
          </div>
          <div class="col-md-3 col-sm-12">
          <p><h3>Mestre</h3>
            {% for p in campaign.dms %}    
              <a href="{% url 'view_profile' p.username %}">
                {% if p.profile_pic %}  <img src="{{ p.profile_pic }}" height="30" width="30" class="img-circle"> {% endif %}
                {{ p.display_name }} 
                </a>
            {% endfor %}
          </p>

          <p><h3>Jogadores</h3>
            {% for p in campaign.players %}    
              <p><a href="{% url 'view_profile' p.username %}">
                {% if p.profile_pic %}  <img src="{{ p.profile_pic }}" height="30" width="30" class="img-circle"> {% endif %}
                {{ p.display_name }} 
                </a></p>
            {% endfor %}
          </p>
          </div>

{% endblock %}


