{% extends "base_campaign.html" %}

{% block menu-home %}active{% endblock %}

{% load staticfiles %}
{% block campaign %}

          <div class="col-md-9 col-sm-12">
            <h2>Próxima Sessão</h2>
            {% if next_session %}
            <h3>{{ next_session.date|date:"l\, j \d\e E \d\e Y " }} às {{next_session.date|time:"TIME_FORMAT" }}</h3>
            <p><strong>Local:</strong> {{ next_session.local }}</p>
            <p><strong>Observações:</strong> {{ next_session.notes }}</p>
            {% else %}
            <p>Nenhuma sessão marcada :( </p>
            {% endif %}
          </div>
          <div class="col-md-3 col-sm-12">
          <p><h3>Mestre</h3>
            {% for p in campaign.dms %}    
              <a href="{% url 'view_profile' p.username %}">
                {% if p.profile_pic %}  <img src="{{ p.profile_pic }}" height="30" width="30" class="img-circle"> {% endif %}
                {{ p.display_name }} 
                </a>
            {% endfor %}
          </p>

          <p><h3>Jogadores</h3>
            {% for p in campaign.players %}    
              <p><a href="{% url 'view_profile' p.username %}">
                {% if p.profile_pic %}  <img src="{{ p.profile_pic }}" height="30" width="30" class="img-circle"> {% endif %}
                {{ p.display_name }} 
                </a></p>
            {% endfor %}
          </p>
          </div>

{% endblock %}


