{% extends "base.html" %}
{% block content %}
      <div class="row">
{% if not request.user.is_authenticated %}
<div class="jumbotron">
  <h1>RPGCamp</h1>
  <p>O RPGCamp foi criado para facilitar a organização da sua campanha. Crie sua campanha, adicione seus jogadores e nunca mais escute "eu não sabia que tinha jogo" novamente!</p>
  <p><a class="btn btn-primary btn-lg" href="{% url 'add_user' %}" role="button">Crie Sua Conta</a>
  <a class="btn btn-default btn-lg" href="{% url 'login' %}" role="button">Entrar...</a>
  </p>
</div>
{% else %}
<div class="col-md-12"><h1>Suas Campanhas</h1>
<div class="alert alert-warning alert-dismissible" role="alert" style="font-size: 14px;"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><small><strong>O RPGCamp ainda está em alpha!</strong> Agradecemos o interesse e esperamos que seja útil em suas campanhas, porém esteja ciente que ainda está em estágio inicial de desenvolvimento. Não nos responsabilizamos por dados perdidos, site quebrado, mudanças repentinas, vazio existencial, espadas amaldiçoadas, portais interdimensionais ou uma sensação estranha de que você está sendo observado por um devorador de mentes. Não se preocupe com ele, é inofensivo.</small></div>
</div>
{% endif %}
{% if request.user.is_authenticated and not campaign_list %}
<div class="jumbotron">
  <h2>Nenhuma Campanha</h2>
  <p>Ops. Parece que você não possui nenhuma campanha. Peça ao seu mestre que o adicione à campanha, ou crie uma nova.</p>
  <p><a class="btn btn-primary btn-lg" href="{% url 'create_campaign' %}" role="button">Criar Nova Campanha</a>
  </p>
</div>
{% endif %}
</div>



{% if campaign_list %}
<div class="row">
<div class="col-md-8 col-xs-12">
  {% for campaign in campaign_list %}  
  <div class="row">
    <div class="col-md-12">
          <h2><a href="{% url 'view_campaign' campaign.campaign.slug %}"> {{ campaign.campaign.name }} </a></h2>
          <span class="label label-default">{{ campaign.campaign.system }}</span>
          <p>{{ campaign.campaign.description }}</p>
          <p><strong>Mestre - </strong>
            {% for p in campaign.campaign.dms %}    
              <a href="{% url 'view_profile' p.username %}">
                {% if p.profile_pic %}  <img src="{{ p.profile_pic }}" height="30" width="30" class="img-circle"> {% endif %}
                {{ p.display_name }} 
                </a>
            {% endfor %}
          </p>

          <p><strong>Jogadores - </strong>
            {% for p in campaign.campaign.players %}    
              <a href="{% url 'view_profile' p.username %}">
                {% if p.profile_pic %}  <img src="{{ p.profile_pic }}" height="30" width="30" class="img-circle"> {% endif %}
                {{ p.display_name }}
                </a> 
            {% endfor %}
            {% if not campaign.campaign.players %}
            Nenhum jogador.
            {% endif %}
          </p>
          
          
      

    </div> <!-- col -->
  </div> <!--row-->
  
{% endfor %}
</div>


<div class="col-md-4 col-xs-12">
  <a class="btn btn-success btn-lg btn-block" href="{% url 'create_campaign' %}" role="button"><span class="glyphicon glyphicon-plus-sign"> </span> Criar Nova Campanha &raquo;</a>
</div>


{% endif %}   


</div>
     
{% endblock %}      
