{% extends "base.html" %}
{% block content %}
        <div class="row">
        <div class="col-md-12"><h1>RPGCamp</h1></div>
        </div>

      <div class="row">
        <div class="col-xs-12">
          <p>Bem vindo ao RPGCamp! Seu gerenciador de campanhas e sessões de jogo para você nunca mais ouvir "eu não sabia que dia era o jogo".</p>
        </div>
      </div>




<div class="row">
{% for campaign in campaign_list %}

        <div class="col-md-4 campaign-list">
          <h2><a href="{% url 'view_campaign' campaign.campaign.slug %}"> {{ campaign.campaign.name }} </a></h2>
          <span class="label label-default">{{ campaign.campaign.system }}</span>
          <p>{{ campaign.campaign.description }}</p>
          <p><h3>Mestre</h3>
            {% for p in campaign.campaign.dms %}    
              <a href="{% url 'view_profile' p.username %}">
                {% if p.profile_pic %}  <img src="{{ p.profile_pic }}" height="30" width="30" class="img-circle"> {% endif %}
                {{ p.display_name }} 
                </a>
            {% endfor %}
          </p>

          <p><h3>Jogadores</h3>
            {% for p in campaign.campaign.players %}    
              <p><a href="{% url 'view_profile' p.username %}">
                {% if p.profile_pic %}  <img src="{{ p.profile_pic }}" height="30" width="30" class="img-circle"> {% endif %}
                {{ p.display_name }}
                </a></p>
            {% endfor %}
            {% if not campaign.campaign.players %}
            Nenhum jogador.
            {% endif %}
          </p>
          
          <p><a class="btn btn-default" href="{% url 'view_campaign' campaign.campaign.slug %}" role="button">Acessar Campanha &raquo;</a></p>
        </div>

{% endfor %}

{% if campaign_list %}
        <div class="col-md-4">
          <h2>Nova Campanha</h2>
          <p>As campanhas que você já participa não são o suficiente? Então clique no botão abaixo para criar uma nova campanha no RPGCamp!</p>
          <p><a class="btn btn-success" href="{% url 'create_campaign' %}" role="button"><span class="glyphicon glyphicon-plus-sign
"> </span> Criar Campanha &raquo;</a></p>
        </div>
{% endif %}   

</div>
     
{% endblock %}      
