{% extends "base.html" %}
{% block content %}
        <div class="row">
        <div class="col-md-12"><h1>RPGCamp</h1></div>
        </div>

      <div class="row">
        <div class="col-xs-12">
          <p>Bem vindo ao RPGCamp! Seu gerenciador de campanhas e sessões de jogo para você nunca mais ouvir "eu não sabia que dia era o jogo".</p>
        </div>
      </div>

{% if campaign_list %}
{% for campaign in campaign_list %}

        <div class="col-xs-offset-1 col-xs-10">
          <h2>{{ campaign.campaign.name }}</h2>
          <p>{{ campaign.campaign.description }}</p>
          <p><strong>Sistema:</strong>{{ campaign.campaign.system }}</p>
          <p><a class="btn btn-default" href="#" role="button">Acessar Campanha &raquo;</a></p>
        </div>

{% endfor %}
        <div class="col-xs-offset-1 col-xs-10">
          <h2>Criar Nova Campanha</h2>
          <p>As campanhas que você já participa não são o suficiente? Então clique no botão abaixo para criar uma nova campanha no RPGCamp!</p>
          <p><a class="btn btn-success" href="{% url 'create_campaign' %}" role="button"><span class="glyphicon glyphicon-plus-sign
"> </span> Criar Campanha &raquo;</a></p>
        </div>
{% else %}
  {% if request.user.is_authenticated %}
        <div class="col-xs-offset-1 col-xs-10">
          <h2>Criar Nova Campanha</h2>
          <p>Parece que você não tem nenhuma campanha cadastrada. Clique no botão abaixo e crie uma campanha para ter acesso à todos os recursos do RPGCamp.</p>
          <p><a class="btn btn-success" href="{% url 'create_campaign' %}" role="button"><span class="glyphicon glyphicon-plus-sign
"> </span> Criar Campanha &raquo;</a></p>
        </div>
{% endif %}
{% endif %}




      </div>
{% endblock %}      

